<!DOCTYPE html>
<!--[if IE 7]>                  <html class="ie7 no-js" lang="en">     <![endif]-->
<!--[if lte IE 8]>              <html class="ie8 no-js" lang="en">     <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="not-ie no-js" lang="en">  <!--<![endif]-->
<head>

        <!-- Basic Page Needs
        ================================================== -->
        <meta charset="utf-8">
        <title>PostgresOpen 2014</title>
        <meta name="description" content="">
        <meta name="author" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!-- Mobile Specific Metas
        ================================================== -->
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
        
        <!-- CSS
        ================================================== -->
   <!-- Custom Bootstrap-->
   <style type="text/css" media="screen" title="Normal Text">@import url("/media/css/custom-bootstrap.css");</style>

   <!-- Animate CSS-->
   <style type="text/css" media="screen" title="Normal Text">@import url("/media/css/animate.min.css");</style>

        <!--[if lt IE 9]>
                <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
                <script src="/media/js/respond.min.js"></script>
        <![endif]-->
        
        <!-- Favicons
        ================================================== -->
        <link rel="apple-touch-icon" sizes="57x57" href="/media/img/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/media/img/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/media/img/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/media/img/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/media/img/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/media/img/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/media/img/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/media/img/apple-touch-icon-152x152.png">
        <link rel="icon" type="image/png" href="/media/img/favicon-196x196.png" sizes="196x196">
        <link rel="icon" type="image/png" href="/media/img/favicon-160x160.png" sizes="160x160">
        <link rel="icon" type="image/png" href="/media/img/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="/media/img/favicon-16x16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="/media/img/favicon-32x32.png" sizes="32x32">
        <meta name="msapplication-TileColor" content="#00aba9">
        <meta name="msapplication-TileImage" content="mstile-144x144.png">
        
    {%block extrahead%}{%endblock%}
</head>

        <!-- Javascript Files
        ================================================== -->
        
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="/media/js/jquery-1.11.0.min.js"></script>
        <script src="/media/js/jquery-migrate-1.2.1.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="/media/bootstrap/js/bootstrap.min.js"></script>
        <!-- hoverIntent -->
        <script src="/media/js/jquery.hoverIntent.minified.js"></script>
        <!-- FlexNavigation -->
        <script src="/media/js/jquery.flexnav.min.js"></script>
        <!-- Isotope -->
        <script src="/media/js/jquery.isotope.min.js"></script>
        <script src="/media/js/jquery.imagesloaded.min.js"></script>
        <!-- Twitter -->
        <script src="/media/js/jquery.twitter.js"></script>
        <!-- Flickr Feed -->
        <script src="/media/js/jquery.flickrfeed.js"></script>
        <!-- FitVid (responsive video) -->
        <script src="/media/js/jquery.fitvids.js"></script>
        <!-- Owl Carousel -->
        <script src="/media/js/owl.carousel.js"></script>
        <!-- Magnific Popup -->
        <script src="/media/js/jquery.magnific-popup.min.js"></script>
        <!-- Magnific Popup -->
        <script src="/media/js/jquery.appear.js"></script>
        <!-- Init File -->
        <script src="/media/js/custom.js"></script>
                
        <!-- Home Page specific scripts
        ================================================== -->
        <!-- jQuery REVOLUTION Slider  -->
        <script src="/media/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
        <script src="/media/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

<body>

        <div class="top-wrapper">
                
                <!-- Header
                ================================================== -->
                <div class="navbar-wrapper">
                        <header class="navbar navbar-default navbar-top" id="navbar">
                                <div class="container">
                                        
                                        <div class="navbar-header">
                                                <!-- Text Based Logo -->
                                                <a href="index.html" class="logo-standard"><img src="/media/img/logo.png" alt="Ecobox" /></a>
                                                <a href="index.html" class="logo-retina"><img src="/media/img/retina/logo@2x.png" alt="Ecobox" /></a>
                                        </div>
                                        
                                        <div class="navbar-collapse-holder">

                                                <div class="clearfix">
                                                        <button type="button" class="navbar-toggle">
                                                                <span class="sr-only">Toggle navigation</span>
                                                                <span class="icon-bar"></span>
                                                                <span class="icon-bar"></span>
                                                                <span class="icon-bar"></span>
                                                                <span class="icon-bar"></span>
                                                        </button>
                                                        
                                                        <ul id="topmenu" data-breakpoint="992" class="flexnav">
                                                                <li id="topmenuhome"><a href="/2014">Home</a></li>
                                                                <li id="topmenu2014about"><a href="/2014/about">About</a></li>
                                                                <li id="topmenu2014venue"><a href="/2014/venueandhotel">Venue &amp; Hotel</a></li>
                                                                <li id="topmenu2014cfp"><a href="/2014/callforpapers">Call for Papers</a></li>
                                                                <!-- <li id="topmenu2014schedule"><a href="/2014/schedule">Schedule</a></li> -->
                                                                <li id="topmenu2014social"><a href="/2014/social">Social</a></li>
                                                                <li id="topmenu2014sponsors"><a href="/2014/sponsors">Sponsors</a></li>
                                                        </ul>
                                                </div>
                                        </div>
                                </div>
                        </header>
                </div>
                

        <!-- Main jumbotron for a primary marketing message or call to action -->
          <div class="container hero">
                  <div class="row">
                        <div class="col-md-3  col-md-offset-1" style="text-align: center;">
                                <img src="/media/img/logo-big.png" class="hero-logo img-responsive" style="margin: 0 auto;" />
                        </div>
                        <div class="col-md-7">
                                <h1 class="bold">POSTGRES OPEN</h1>
                                <h2 class="bold">SEPT 17TH - 19TH ・ CHICAGO</h2>
                                <a href="/2014/callforpapers" class="btn btn-primary btn-lg btn-almost-block">Call For Papers</a>
                                <!-- Not yet <a href="/2014/register" class="btn btn-primary btn-lg btn-almost-block">Register</a> -->
                                <a href="/2014/sponsors" class="btn btn-tertiary btn-lg btn-almost-block">Sponsors</a>
                        </div>
                  </div>
          </div>


        </div>
{%block content%}{%endblock%}
        <!-- Footer
        ================================================== -->
        <div class="footer-wrap">
                
                <!-- Footer -->
                <footer class="footer">
                        <div class="container">
                                
                                <!-- Twitter Feed -->
                                <div class="twitter-feed-wrapper">
                                        <div id="twitter-feed" class="twitter-feed"></div>
                                </div>
                                <!-- Twitter Feed / End-->

                                <div class="hr hr__two-half">
                                        <div class="left-hr"></div>
                                        <div class="right-hr"></div>
                                </div>

                                <!-- Widgets -->
                                <section class="footer-widgets">
                                        <div class="row">
                                                <div class="col-xs-12 col-sm-4 col-md-4">
                                                        <!-- Email Widget -->
                                                        <div class="widget widget__footer">
                                                                <h4 class="widget-title">Email</h4>
                                                                <div class="widget-body">
                                                                        <ul class="info-list">
                                                                                <li><a href="mailto:program2014@postgresopen.org">program2014@postgresopen.org</a></li>
                                                                        </ul>
                                                                </div>
                                                        </div>
                                                        <!-- Email Widget / End -->
                                                </div>
                                                <div class="clearfix visible-xs"></div>
                                                <div class="col-xs-12 col-sm-4 col-md-4">
                                                        <!-- Address Widget -->
                                                        <div class="widget widget__footer">
                                                                <h4 class="widget-title">Hotel</h4>
                                                                <div class="widget-body">
                                                                        <ul class="info-list">
                                                                                <li><strong>Hotel Sax Chicago</strong><br />333 North Dearborn Street<br />Chicago, IL 60654<br />(312) 245-0333</li>
                                                                        </ul>
                                                                </div>
                                                        </div>
                                                        <!-- Address Widget / End -->
                                                </div>
                                                <div class="col-xs-12 col-sm-4 col-md-4">
                                                        <!-- Social Links Widget -->
                                                        <div class="widget widget__footer">
                                                                <h4 class="widget-title">Social</h4>
                                                                <div class="widget-body">
                                                                        <ul class="social-list social-list__footer list-unstyled">
                                                                                <li><a href="https://www.facebook.com/PostgresOpen"><i class="fa fa-facebook"></i></a></li>
                                                                                <li><a href="https://twitter.com/postgresopen"><i class="fa fa-twitter"></i></a></li>
                                                                                <li><a href="http://www.flickr.com/photos/103481966@N07/"><i class="fa fa-flickr"></i></a></li>
                                                                        </ul>
                                                                </div>
                                                        </div>
                                                        <!-- Social Links Widget / End -->
                                                </div>
                                        </div>
                                </section>
                                <!-- Widgets / End-->

                        </div>
                </footer>
                <!-- Footer / End -->

                <!-- Copyright -->
                <div class="copyright">
                        <div class="container">
                                &copy; PostgresOpen 2014. All rights reserved.
                        </div>
                </div>
                <!-- Copyright / End -->

        </div>

 </body>
</html>
