<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.png">

    <title>POSTGRES OPEN 2014</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">

    <link href="assets/css/main.css" rel="stylesheet">

  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
         
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">

           
            <li><a href="about.html">ABOUT</a></li>
            <li><a href="venue.html">VENUE & HOTEL</a></li>
            <li><a href="schedule.html">SCHEDULE</a></li>
            <li><a href="social.html">SOCIAL</a></li>
            <li><a href="contact.html">CONTACT</a></li>
            <!-- <li><a data-toggle="modal" data-target="#myModal" href="#myModal"><i class="fa fa-envelope-o"></i></a></li> -->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

	<div id="headerwrap">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-12 col-lg-offset-2">
				        <a class="navbar-brand" href="#"><img id="logo" src="assets/img/postgres_logo_2014.png"></a>

				<h1 class="couture">POSTGRES OPEN</h1>
				<h1 id="dates" class="couture">SEPT 17TH - 19TH ・ CHICAGO</h1>
				<div id="call-to-action">
					<a href="sponsors.html"><button type="button" id="city" class="btn btn-default sponsors">SPONSORS</button></a>
					<a href="register.html"><button type="button" id="city" class="btn btn-default">REGISTER</button></a>
				</div>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- headerwrap -->


	<div class="container w">
		<div class="row centered">
			<br><br>
	

			<div class="col-lg-12">
				<p id="words" class="smallerwords">Postgres Open 2014 was held on September 17-September 19th in Chicago, at Hotel Sax. It will deliver three days packed with tutorials and presentations about PostgreSQL and related technologies, one day of extended trainings, and the usual hallway and social track!.</p>
			</div><!-- col-lg-4 -->

		</div><!-- row -->
		<br>
		<br>
	</div><!-- container -->


	<!-- PORTFOLIO SECTION -->
	<div id="dg">
		<div class="container">
			<div class="row centered">
				<h4>NEWS</h4>
				<p id="words" class="smalltext">Lots of exciting news coming soon!<br>Tweets by @postgresopen</p>
<div id="twitter_feed">
<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/postgresopen" data-widget-id="433409081202593792">Tweets by @postgresopen</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
				<br>
			</div><!-- row -->
			<div class="row centered">
				<p id="words" class="smallerwords">Pictures from previous PostgresOpen conferences!</p>
<div id="flickr_feed">
<iframe align="center" src="http://www.flickr.com/slideShow/index.gne?group_id=&user_id=103481966@N07&set_id=&text=" frameBorder="0" width="500" height="500" scrolling="yes"></iframe>
</div>
				<br>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- DG -->


	<!-- FEATURE SECTION -->
	<div class="container wb">
		<div class="row centered">
			<br><br>
			<div class="col-lg-8 col-lg-offset-2">
				<h4>WE'RE SOCIAL</h4>
				<div id="f">
					<div class="container">
						<div class="row centered">
							<a href="https://twitter.com/postgresopen"><i class="fa fa-twitter"></i></a>
							<a href="https://www.facebook.com/PostgresOpen"><i class="fa fa-facebook"></i></a>
						</div><!-- row -->
					</div><!-- container -->
				</div><!-- Footer -->
		
			<p><br/><br/></p>
			</div>
			<div class="col-lg-2"></div>
			<div class="col-lg-10 col-lg-offset-1">
			</div>
		</div><!-- row -->
	</div><!-- container -->

	
	
	
	<!-- FOOTER -->
	


	<!-- MODAL FOR CONTACT -->
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabel">contact us</h4>
	      </div>
	      <div class="modal-body">
		        <div class="row centered">
		        
		        	<div id="mapwrap">
		<iframe height="300" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.es/maps?t=m&amp;ie=UTF8&amp;ll=52.752693,22.791016&amp;spn=67.34552,156.972656&amp;z=2&amp;output=embed"></iframe>
					</div>	
		        </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-danger" data-dismiss="modal">Save & Go</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
  </body>
</html>
