<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
 

    <title>POSTGRES OPEN</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/main.css" rel="stylesheet">

  </head>

   <body>

      <!-- Fixed navbar -->
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
           
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">

              <li><a href="index.html"><img id="logo_1" src="assets/img/postgres_logo_2014.png"></a></li>
              <li><a href="index.html">HOME</a></li>
              <li><a href="about.html">ABOUT</a></li>
              <li><a href="venue.html">VENUE & HOTEL</a></li>
              <li><a href="schedule.html">SCHEDULE</a></li>
              <li><a href="social.html">SOCIAL</a></li>
              <li><a href="contact.html">CONTACT</a></li>
              <!-- <li><a data-toggle="modal" data-target="#myModal" href="#myModal"><i class="fa fa-envelope-o"></i></a></li> -->
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
      <div id="dg">
      	<div class="container">
      		<div class="row centered">
      			<h4>SPONSORS</h4>
      			<br>
      			<div class="col-lg-12">
      				<div>
                <p  class="smallerwords centered">
                   PostgreSQL Open wouldn't be possible without support from our generous sponsors.
                </p>
                <h4  id="left" class="greyheader">BECOME A SPONSOR</h4>
                <p id="words" class="smallerwords">
                PostgreSQL Open is a perfect opportunity for companies to reach out to users and developers of PostgreSQL, or to just "give back" to the community. Our sponsorship program covers a wide range of levels, from cheap to big scale. If you are interested in sponsoring the conference, please see our<span> <a class="bold" href="become_a_sponsor.html">sponsoring campaign</a> </span>and let us know!     
                </p>	
      				</div>
      			</div>
      			</div>
      		</div><!-- row -->
      	</div><!-- container -->
      </div><!-- DG -->

    	<div id="lg">
    		<div class="container">
    			<div class="row centered">
    				<h4 class="greyheader">PLATINUM</h4>
    				<div class="col-lg-2 col-lg-offset-1">
    					<a href="http://www.2ndquadrant.com/en/" target="_blank"><img src="assets/img/2ndquadrant.png" alt=""></a>
    				</div>
    				<div class="col-lg-2">
    					<a href="http://www.enterprisedb.com/" target="_blank"><img src="assets/img/enterprisedb.png" alt=""></a>
    				</div>
    			</div><!-- row -->
    			<div class="row centered">
    				<h4 class="greyheader">GOLD</h4>
    				<div class="col-lg-2 col-lg-offset-1">
    					<a href="https://www.heroku.com/postgres" target="_blank"><img src="assets/img/heroku.png" alt=""></a>
    				</div>
    			</div>
    			<div class="row centered">
    				<h4 class="greyheader">SILVER</h4>
    				</div>
    				<div class="col-lg-2">
    					<a href="http://www.vmware.com" target="_blank"><img src="assets/img/vmware.png" alt=""></a>
    				</div>
    			</div>

    			<div class="row centered">
    				<div class="col-lg-2">
    					<a href="http://www.engineyard.com" target="_blank"><img src="assets/img/engineyard.png" alt=""></a>
    				</div>
    			</div>
          <div class="row centered">
            <h4 class="greyheader">BRONZE</h4>
            <div class="col-lg-2">
            <a href="http://omniti.com" target="_blank">
              <img src="assets/img/omniti.png" alt=""></a>
            </div>
          </div>
    		</div><!-- container -->
    	</div><!-- dg -->
    	
    	
    	
    	<!-- FOOTER -->
    	


    	<!-- MODAL FOR CONTACT -->
    	<!-- Modal -->
    	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    	  <div class="modal-dialog">
    	    <div class="modal-content">
    	      <div class="modal-header">
    	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    	        <h4 class="modal-title" id="myModalLabel">contact us</h4>
    	      </div>
    	      <div class="modal-body">
    		        <div class="row centered">
    		        	<p></p>
    		        	<p>
    		       
    		        	<div id="mapwrap">
    		<iframe height="300" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.es/maps?t=m&amp;ie=UTF8&amp;ll=52.752693,22.791016&amp;spn=67.34552,156.972656&amp;z=2&amp;output=embed"></iframe>
    					</div>	
    		        </div>
    	      </div>
    	      <div class="modal-footer">
    	        <button type="button" class="btn btn-danger" data-dismiss="modal">Save & Go</button>
    	      </div>
    	    </div><!-- /.modal-content -->
    	  </div><!-- /.modal-dialog -->
    	</div><!-- /.modal -->


        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
      </body>
</html>
