<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.png">

    <title>POSTGRES OPEN</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">


    <link href="assets/css/main.css" rel="stylesheet">




  </head>

   <body>

      <!-- Fixed navbar -->
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
           
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">

              <li><a href="index.html"><img id="logo_1" src="assets/img/postgres_logo_2014.png"></a></li>
              <li><a href="about.html">ABOUT</a></li>
              <li><a href="venue.html">VENUE & HOTEL</a></li>
              <li><a href="schedule.html">SCHEDULE</a></li>
              <li><a href="social.html">SOCIAL</a></li>
              <li><a href="contact.html">CONTACT</a></li>
              <!-- <li><a data-toggle="modal" data-target="#myModal" href="#myModal"><i class="fa fa-envelope-o"></i></a></li> -->
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>

      <div id="dg">
      	<div class="container">
      		<div class="row centered">
      			<h4>TRAINING</h4>
      			<br>
      			<div class="col-lg-12">
      				<div>
      					<p id="words" class="smallerwords">The Tuesday before the regular conference sessions start, there will be a full day of training courses on PostgreSQL and related topics provided by some of the most popular training companies in the PostgreSQL community.
                 </p>
                 <p id="words" class="smallerwords">
                Each half-day session is offered at a cost of €150, and each full-day session at €300. This includes:
                </p>
                <ul class="bullets">
                  <li>Approximately 3.5 hours of instructor-led training for half day sessions, 7 hours for full-day sessions</li>
                  <li>Lunch</li>
                  <li>A hotel venue</li>
                  <li>Course material, if required</li>
                </ul>
                <p id="words" class="smallerwords">
                  All training sessions are held on the Tuesday before the conference. This means that you can either attend one of the full day sessions, or one or two of the half day sessions. It is not permitted to switch to a different session once your registration has been confirmed, unless you contact the conference organizers and get confirmation first.
                </p>
                <p id="words" class="smallerwords">
                  Each training course is provided by a third-party which is wholly responsible for the course content. The proceeds of the training are shared between the company providing each course and PostgreSQL Europe.
                </p>
                <p id="words" class="smallerwords">
                  The following full-day courses are available:
                </p>
                <ul class="bullets">

                <span><a href="scheduled_event_1.html" ><li class="bold">PostgreSQL Indexing by Hans-Jürgen Schönig, Cybertec</li></a></span>
                </ul>
                <p id="words" class="smallerwords">
                The following half-day courses are available before lunch:
                </p>
                <ul class="bullets">
                  <span><a href="scheduled_event_1.html" >
                  <li class="bold">PostgreSQL & PostGIS by Gianni Ciolli and Richard Poole, 2ndQuadrant
                  </li></a>
                  </span>
                  <span><a href="scheduled_event_1.html" >
                  <li class="bold">PostgreSQL Performance Tuning by Bruce Momjian, EnterpriseDB
                  </li></a></span>
                  </ul>
                  <p id="words" class="smallerwords">
                  And the following half-day courses are available after lunch:
                  </p>
                  <ul class="bullets">
                  <span><a href="scheduled_event_1.html">
                  <li>Data Processing Inside PostgreSQL by Bruce Momjian, EnterpriseDB</li></a></span>
                  <span><a href="scheduled_event_1.html" >
                  <li>Writing & using Postgres Extensions by Dimitri Fontaine, 2ndQuadrant</li></a></span>
                </ul>
                <p id="words" class="smallerwords"><b>Note!</b> 
                  Therese are overlapping trainings. You can only attend either a full day course, or one half day course before lunch and/or one after. They are all on the same day, and you cannot freely move between the sessions.
                </p>
                <p id="words" class="smallerwords">

                  If you wish to take a training course, you must register in advance when you <span><a href="register.html" class="bold">register for the conference.</a></span> Places are limited, so book early to avoid disappointment!
                </p>	
      				</div>
      			</div>

      			</div>
      		</div><!-- row -->
      	</div><!-- container -->
      </div><!-- DG -->

  	<div id="lg">
  		<div class="container">
  			<div class="row centered">
  				<h4 class="center">OUR AWESOME SPONSORS</h4>
  				<h4 class="greyheader">PLATINUM</h4>
  				<div class="col-lg-2 col-lg-offset-1">
  					<img src="assets/img/2ndquadrant.png" alt="">
  				</div>
  				<div class="col-lg-2">
  					<img src="assets/img/enterprisedb.png" alt="">
  				</div>
  			</div><!-- row -->
  			<div class="row centered">
  				<h4 class="greyheader">GOLD</h4>
  				<div class="col-lg-2 col-lg-offset-1">
  					<img src="assets/img/heroku.png" alt="">
  				</div>
  				<div class="col-lg-2">
  					<img src="assets/img/cybertec.png" alt="">
  				</div>
  			</div>
  			<div class="row centered">
  				<h4 class="greyheader">SILVER</h4>
  				<div class="col-lg-2 col-lg-offset-1">
  					<img src="assets/img/servoy.png" alt="">
  				</div>
  				<div class="col-lg-2">
  					<img src="assets/img/vertabelo.png" alt="">
  				</div>
  				<div class="col-lg-2">
  					<img src="assets/img/dalibo.png" alt="">
  				</div>
  				<div class="col-lg-2">
  					<img src="assets/img/vmware.png" alt="">
  				</div>
  				<div class="col-lg-2">
  					<img src="assets/img/gilt.png" alt="">
  				</div>
  			</div>
  			<div class="row centered">
  				<div class="col-lg-2 col-lg-offset-1">
  					<img src="assets/img/zalando.png" alt="">
  				</div>
  				<div class="col-lg-2">
  					<img src="assets/img/engineyard.png" alt="">
  				</div>
  			
  			</div>
  		</div><!-- container -->
  	</div><!-- dg -->
  	

  	
  	
  	<!-- FOOTER -->
  	


  	<!-- MODAL FOR CONTACT -->
  	<!-- Modal -->
  	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  	  <div class="modal-dialog">
  	    <div class="modal-content">
  	      <div class="modal-header">
  	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  	        <h4 class="modal-title" id="myModalLabel">contact us</h4>
  	      </div>
  	      <div class="modal-body">
  		        <div class="row centered">
  		      
  		        	<div id="mapwrap">
  		<iframe height="300" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.es/maps?t=m&amp;ie=UTF8&amp;ll=52.752693,22.791016&amp;spn=67.34552,156.972656&amp;z=2&amp;output=embed"></iframe>
  					</div>	
  		        </div>
  	      </div>
  	      <div class="modal-footer">
  	        <button type="button" class="btn btn-danger" data-dismiss="modal">Save & Go</button>
  	      </div>
  	    </div><!-- /.modal-content -->
  	  </div><!-- /.modal-dialog -->
  	</div><!-- /.modal -->


      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
      <script src="assets/js/bootstrap.min.js"></script>
    </body>
</html>
