{%extends "base2015.html" %}
{%block content%}
        <!-- Content
        ================================================== -->
        <main class="main-content">
                <div class="container">

                        <!-- Who we are -->
                        <section class="section">
                                <div class="title-bordered">
                                        <h2>Conference Policies</h2>
                                </div>

                                <p>PostgresOpen is a non–profit, community–run conference series in the United States focused on business users, database professionals and developers of PostgreSQL, the open source database.</p>
                                <p>While we do our best, even as a non-profit, we need certain policies to ensure that the event can make budget and be enjoyed by all.</p>

                        </section>
                        <!-- Who we are / End -->

                </div>
        </main>


        <!-- Content -->
        <div class="main-content alt-color">
                <div class="container">
                        <section class="section">
                                <div class="row">
                                        <div class="col-md-10 col-md-offset-1">
                                        <div class="widget widget__sidebar widget_categories">
                                                <div class="widget-title">
                                                        <h3>Purchasing and Refund Policies</h3>
                                                </div>
                                                <p>Technocation, a 503(c) non-profit, underwrites Postgres Open. Purchasing of tickets and tutorials will be done via the Postgres Open payment gateway transacted by our partner Adyen. Purchasing transactions may take up to 48 hours to appear on purchaser’s credit card.</p>
                                                <p>Payment through the Postgres Open gateway is completed with PCI-DSS (2.0) level security compliance and all customer data is stored encrypted. </p>
                                                <p>Due to hotel contracts and our obligations to our sponsors, PostgresOpen can only offer full refunds to the conference up to 30 days prior to the event.</p>
                                                <p>Refunds will be issued directly back using the same payment method through which the ticket was purchased (eg: credit card).</p>
                                                <p>Please allow 10 days of processing time for refund requests. To inquire about a refund please email treasurer@postgresopen.org
                                                        <ul>
                                                        <li>Your name</li>
                                                        <li>Company name</li>
                                                        <li>Invoice Number</li>
                                                        <li>Reason for refund</li>
                                                        </ul>
                                                </p>
                                        </div>
                                        </div>
                                </div>
                        </section>
                </div>
        </div>
        <!-- Content -->
        <div class="main-content alt-color">
                <div class="container">
                        <section class="section">
                                <div class="row">
                                        <div class="col-md-10 col-md-offset-1">
                                        <div class="widget widget__sidebar widget_categories">
                                                <div class="widget-title">
                                                        <h3>Privacy Policy</h3>
                                                </div>
                                                <p>This Privacy Policy was last modified on May 16, 2015.</p>
                                                <p>Postgres Open ("us", "we", or "our") operates www.postgresopen.org (the "Site"). This page informs you of our policies regarding the collection, use and disclosure of Personal Information we receive from users of the Site.</p>
                                        <p>We use your Personal Information only for providing and improving the Site. By using the Site, you agree to the collection and use of information in accordance with this policy. Unless otherwise defined in this Privacy Policy, terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, accessible at www.postgresopen.org.</p>
                                            <p><strong>Information Collection And Use</strong><br />While using our Site, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to, your name, email address, postal address and phone number ("Personal Information").</p>
                                        <p><strong>Log Data</strong><br />Like many site operators, we collect information that your browser sends whenever you visit our Site ("Log Data"). This Log Data may include information such as your computer's Internet Protocol ("IP") address, browser type, browser version, the pages of our Site that you visit, the time and date of your visit, the time spent on those pages and other statistics.</p>
                                          <p><strong>Cookies</strong><br />Cookies are files with small amount of data, which may include an anonymous unique identifier. Cookies are sent to your browser from a web site and stored on your computer's hard drive.</p>
                                        <p>Like many sites, we use "cookies" to collect information. You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Site.</p>
                                        <p><strong>Security</strong><br />The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage, is 100% secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security.</p>
                                        <p><strong>Links To Other Sites</strong><br />Our Site may contain links to other sites that are not operated by us. If you click on a third party link, you will be directed to that third party's site. We strongly advise you to review the Privacy Policy of every site you visit.</p>
                                        <p>Postgres Open has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party sites or services.</p>
                                        <p><strong>Changes To This Privacy Policy</strong><br />Postgres Open may update this Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on the Site. You are advised to review this Privacy Policy periodically for any changes.</p>
                                        <p><strong>Contact Us</strong><br />If you have any questions about this Privacy Policy, please contact us program2015@lists.postgresopen.org</p>


                                        </div>
                                        </div>
                                </div>
                        </section>
                </div>
        </div>

        <!-- Content -->
        <div class="main-content alt-color">
                <div class="container">
                        <section class="section">
                                <div class="row">
                                        <div class="col-md-10 col-md-offset-1">
                                        <div class="widget widget__sidebar widget_categories">
                                                <div class="widget-title">
                                                        <h3>Speaker Policy</h3>
                                                </div>
                                                <p>PostgresOpen provides gratis admission to regular conference sessions for all speakers.  Training sessions and tutorials are <b>not</b> included and must be purchased separately.  PostgresOpen does not typically provide reimbursement for speaker expenses.  Requests for assistance with travel and/or lodging expenses must be included in the "Submission Notes" for each talk and will be considered on a case-by-case basis.</p>
                                        </div>
                                        </div>
                                </div>
                        </section>
                </div>
        </div>

        <!-- Content -->
        <div class="main-content alt-color">
                <div class="container">
                        <section class="section">
                                <div class="row">
                                        <div class="col-md-10 col-md-offset-1">
                                        <div class="widget widget__sidebar widget_categories">
                                                <div class="widget-title">
                                                        <h3>Anti-Harassment Policy</h3>
                                                </div>
                                                <p>This policy is based in large part on this <a href="http://geekfeminism.wikia.com/wiki/Conference_anti-harassment">example policy.</a>
                                                <p>PostgresOpen is dedicated to providing a harassment-free conference experience for everyone.  We do not tolerate harassment of conference participants in any form.  Sexual language and imagery is not appropriate for any conference venue, including talks.</p>
                                                <p>Conference participants violating this policy may be sanctioned or expelled from the conference without a refund at the discretion of the conference organizers.  It is the sole discretion of the conference committee if any action is considered to have violated this policy.</p>
                                                <p>Harassment includes offensive verbal comments related to gender, sexual orientation, disability, physical appearance, race, religion, sexual images in public spaces, deliberate intimidation, stalking, following, harassing, photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention.  Participants asked to stop any harassing behavior are expected to comply immediately.  Failure to comply will result in sanctions and/or ejection from the conference without a refund.</p>
                                                <p>If a participant engages in harassing behavior, the conference organizers may take any action they deem appropriate, including but not limited to: warning the offender, expulsion from the conference with no refund, and/or referral to appropriate authorities.  If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a member of the conference staff, including anyone on the conference committee, immediately.</p>
                                                <p>Conference staff will be happy to help participants contact hotel/venue security or local law enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the conference.  We value your attendance.  Decisions regarding appropriate assistance will be at the sole discretion of the conference committee.</p>
                                                <ul>
                                                        <li>For emergencies: 911</li>
                                                        <li>Committee email: <a href="mailto:program2015@postgresopen.org">program2015@postgresopen.org</a></li>
                                                        <!--
                                                        <li>Hotel (ask for security): 312.245.0333</li>
                                                        <li>For non-emergency police or medical assistance: 311</li>
                                                        <li>Chicago Policy Non-Emergency: 312.744.4000</li>
                                                        <li>Chicago Sexual Assult Hotline: 888.293.2080</li>
                                                        <li>Taxis: 312-TAXICAB, or text your pickup address to: 777222</li>
                                                        -->
                                                </ul>
                                                <p>All participants are expected to adhere to this policy at all conference venues and conference-related social events.</p>
                                        </div>
                                        </div>
                                </div>
                        </section>
                </div>
        </div>

        <script>
                jQuery(document).ready(function() {
                        $("#topmenu").removeClass("active");
                        $("#topmenu2015about").addClass("active");
           });

        </script>

{%endblock%}
