{%extends "base2015.html" %}
{%block content%}
        <!-- Content
        ================================================== -->
        <main class="main-content">
                <div class="container">

                        <!-- Who we are -->
                        <section class="section">
                                <div class="title-bordered">
                                        <h2>Venue &amp; Hotel</h2>
                                </div>

                        <div class="row">
                                <div class="col-md-8">
                                        <!-- Google Map -->
                                        <div class="googlemap-wrapper">
                                                <div id="map_canvas" class="map-canvas"></div>
                                        </div>
                                        <!-- Google Map / End -->
                                </div>
                                <div class="col-md-4">
                                        <div class="title">
                                                <h2>Sheraton Dallas</h2>
                                        </div>
                                        <p>PostgresOpen 2015 will be held at the Sheraton Dallas, Dallas, TX</p>

                                        <!-- Contact Info -->
                                        <ul class="contact-info-list">
                                                <li>
                                                        <span class="icon"><i class="fa fa-phone"></i></span>
                                                        (214) 922-8000
                                                </li>
                                                <li>
                                                        <span class="icon"><i class="fa fa-map-marker"></i></span>
                                                        400 N Olive St, Dallas, TX 75201
                                                </li>
                                                 <li>
                                                        <!--
                                                        <span class="icon"><i class="fa fa-map-marker"></i></span>
                                                        Room rate for the conference is $214.00 USD per night
                                                        Please reserve by August 15, 2015 to guarantee room reservation and rate.<br>
                                                        <a href="http://NEED LINK TO HOTEL><b> Reserve your room here!</b></a>
                                                        -->
                                                </li>
                                        </ul>
                                        <!-- Contact Info / End -->

                                </div>
                        </div>


                        </section>
                        <!-- Who we are / End -->

                </div>
        </main>
        <!-- Content -->
        <div class="main-content alt-color">
                <div class="container">
                        <section class="section">
                                <div class="row">
                                        <div class="col-md-10 col-md-offset-1">
                                        <div class="widget widget__sidebar widget_categories">
                                                <div class="widget-title">
                                                        <h3>Hotel Information</h3>
                                                </div>
                                                <p>Sheraton Dallas is located in downtown Dallas, Texas, a short light rail ride from DFW. </p>
                                                <!-- need more hotel info here -->

                                                <!-- room rate info
                                                <p>As our guarenteed room rate expires August 15, 2015, we strongly advise attendees who wish for the convenience of staying at the conference hotel to make their reservation as soon as possible.</p>

                                                <p><a href="http://NEED HOTEL LINK><b> Reserve your room today!</b></a></p>
                                                -->
                                                <div class="widget-title">
                                                        <h3>Airport Information</h3>
                                                </div>
                                                        <p>Sheraton Dallas is 5 miles from Dallas Love Field (DAL) and 19 miles from Dallas/Ft Worth International (DFW). We recommend taking the DART orange line from either airport to the hotel.</p>

                                        </div>
                                        </div>
                                </div>
                        </section>
                </div>
        </div>
        <!-- Content -->

        <!--
        <div class="main-content">
                <div class="container">
                        <section class="section">
                        <!-- Services -->
                        <div class="title-bordered" data-animation="fadeInUp" data-animation-delay="0">
                                <h2>Chicago Midway International Airport (MDW)</h2>
                        </div>
                        <div class="row">
                                <div class="col-md-4">
                                                        <h5 class="bold">Airport Shuttle Service</h5>
                                                        <p>Shuttle service is available through GO Airport Express. Reservations are not required from Midway to downtown. Reservations are required for return trips to the airport.</p>
                                                        <p>Shuttles depart from Midway airport every 15 minutes for downtown service to Chicago hotels.</p>
                                                        <p>Please visit <a href="http://www.airportexpress.com/" >airportexpress.com</a> for more information or call 1 (888) 284-3826.</p>
                                </div>
                                <div class="col-md-3">
                                                        <h5 class="bold">Midway Shuttle Fares</h5>
                                                        <h6>Single Fare <em>One-Way</em></h6>
                                                        <p> $25.00 per person</p>

                                                        <h5 class="bold">Taxi</h5>
                                                        <h6><em>(One Way)</em></h6>
                                                        <p>Approx $35.00 - $45.00<br />
                                                        <small>Depends on time of day &amp; traffic.</small>
                                                        </p>
                                </div>
                                <div class="col-md-5">
                                                        <h5 class="bold">Train</h5>
                                                        <p>From Midway Airport, take the CTA Orange Line direction towards the Loop to the Clark/Lake station. Walk east on Lake to Dearborn, turn left on Dearborn, cross the river and the Hotel Chicago Downtown entrance is on the east (right) side of Dearborn.</p>
                                                        <p>If you miss the Clark/Lake station, don't worry! Get off at State/Lake, walk west on Lake, turn right onto Dearborn, cross the river and the Hotel Chicago entrance is still on the east (right) side of Dearborn.</p>
                                                        <p>Since the train goes directly to Midway, this is the easiest and most foolproof transportation from the hotel to Midway.</p>
                                                        <p>For additional information on the Chicago Transit Authority &amp; fare information, please visit <a href="http://www.transitchicago.com/">transitchicago.com</a>.</p>
                                </div>
                        </div>
                        <!-- Services / End -->
                        </section>
                </div>
        </div>
        <div class="main-content alt-color">
                <div class="container">
                        <section class="section">
                        <!-- Services -->
                        <div class="title-bordered" data-animation="fadeInUp" data-animation-delay="0">
                                <h2>Chicago O'Hare International Airport (ORD)</h2>
                        </div>
                        <div class="row">
                                <div class="col-md-4">
                                                        <h5 class="bold">Airport Shuttle Service</h5>
                                                        <p>Shuttle service is available through GO Airport Express. Reservations are not required from O'Hare to downtown. Reservations are required for return trips to the airport.</p>
                                                        <p>Shuttles leave O'Hare airport for downtown Chicago every 10 to 15 minutes from terminals 1E, 3F, 2D and 5E. Shuttle service begins at 4:00 a.m. for downtown hotels.</p>
                                                        <p>Please visit <a href="http://www.airportexpress.com/">airportexpress.com</a> for more information or call 1 (888) 284-3826.</p>
                                </div>
                                <div class="col-md-3">
                                                        <h5 class="bold">O'Hare Shuttle Fares</h5>
                                                        <h6>Single Fare <em>One-Way</em></h6>
                                                        <p> $30.00 per person</p>

                                                        <h5 class="bold">Taxi</h5>
                                                        <h6><em>(One Way)</em></h6>
                                                        <p>Approx $50.00 - $55.00<br />
                                                        <small>Depends on time of day &amp; traffic.</small>
                                                        </p>
                                </div>
                                <div class="col-md-5">
                                                        <h5 class="bold">Train</h5>
                                                        <p>From O'Hare International Airport, take the CTA Blue Line towards the Loop to the Clark/Lake station. Walk east on Lake to Dearborn, turn left on Dearborn, cross the river and the Hotel Chicago entrance is on the east (right) side of Dearborn.</p>
                                                        <p>For additional information on the Chicago Transit Authority &amp; fare information, please visit <a href="http://www.transitchicago.com/">transitchicago.com</a>.</p>
                                </div>
                        </div>
                        <!-- Services / End -->
                        </section>
                </div>
        </div>
        -->

        <!-- Google Map -->
        <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
        <script src="/media/js/jquery.ui.map.js"></script>

        <!-- Google Map Init-->
        <script type="text/javascript">
                jQuery(function($){
                        //getter
                        var zoom= $('#map_canvas').gmap('option', 'zoom');

                        $('#map_canvas').gmap().bind('init', function(ev, map) {
                                $('#map_canvas').gmap('addMarker', {'position': '32.78474,-96.794776', 'bounds': true});
                                $('#map_canvas').gmap('option', 'zoom', 13);
                        });
                });
        </script>

        <script>
                jQuery(document).ready(function() {
                        $("#topmenu").removeClass("active");
                        $("#topmenu2015venue").addClass("active");
           });

        </script>

{%endblock%}
