{%extends conftemplbase %}
{%block content%}
        <!-- Content
        ================================================== -->
        <section id="main" class="wrapper">
                <div class="container">

                        <!-- Call for Papers -->
                        <header class="major">
                                <span class="header"><img src="/ext/{{conference.urlname}}/shared/images/policy.svg" alt="" /></span>
                                        <h2>Confirm Session - {{conference}}</h2>
                                </header>

                <!-- Secondary Header -->
                        <section class="section">
                                <hr>
<p>
Your session <strong>{{session.title}}</strong> is currently
in state <em>pending</em>. This means that the session has been
selected by the organizers, and all that is required is that you
confirm your attendnace.
</p>

<p>
Please do <em>not</em> do this until you are fully certain that
you can attend and deliver your session. For example, if you
need to clear travel budget or similar things, please do so before
you confirm the session.
</p>

<p>
As always, if you have any questions at all about your session,
don't hesitate to <b><a href="mailto:{{conference.contactaddr}}">contact</a></b>
the organizers!
</p>

<h2>Confirmation</h2>
<form method="post" action=".">{% csrf_token %}
<input type="checkbox" name="is_confirmed" value="1"> By checking this box,
you confirm that you wil be able to attend and deliver this session.
<br/>
<input type="submit" value="Confirm">
</form>

                        </section>
                </div>
        </section>
{%endblock%}
