{%extends conftemplbase %}
{%block content%}
        <!-- Content
        ================================================== -->
        <section id="main" class="wrapper">
                <div class="container">

                        <!-- Call for Papers -->
                        <header class="major">
                                <span class="header"><img src="/ext/{{conference.urlname}}/shared/images/policy.svg" alt="" /></span>
                                        <h2>Confirm Session - {{conference}}</h2>
                                </header>

                <!-- Secondary Header -->
                        <section class="section">
                          <hr>
<p>
Your session <strong>{{session.title}}</strong> has now been
confirmed!
</p>

<p>
We look forward to seeing you at {{conference}}!
</p>

{%if conference.active %}
<p>
If you have not already done so, you can now proceed to
<a href="/events/register/{{conference.urlname}}/">register</a>
for the conference.
</p>
{%endif%}

<p>
<a href="../../">Return</a> to your list of sessions.
</p>

                        </section>
                </div>
        </section>
{%endblock%}
