{%extends conftemplbase %}
{%block content%}

        <!-- Content
        ================================================== -->
        <section id="main" class="wrapper">

                <div class="container">

                        <!-- ConfReg -->
                        <header class="major">
                                <span class="header"><img src="/ext/{{conference.urlname}}/shared/images/policy.svg" alt="" /></span>
                                        <h2>Conference Registration Invoice</h2>
                        </header>

                        <p>An invoice has been prepared for your conference registration. This invoice is due for immediate payment.</p>
                </div>
                <!-- Secondary Header -->
                <div class="container">
                       <section class="section">
                               {%include "invoices/userinvoice_spec.html"%}
                               <p><a href="../../">Return</a> to your registration</p>
                       </section>
                </div>
        </section>

{%endblock%}
