{%extends conftemplbase %}
{%block title%}Conference Schedule - {{conference}}{%endblock%}
{%block extrahead%}
<style media="print">
#pgHeaderContainer, #pgSideWrap { display:none; }
div.schedwrap {
   font-size: 69%;
}
</style>
<style>
div.schedwrap {
   border: 1px solid black;
   position: relative;
}
div.sessblock {
   border: 1px solid gray;
   overflow:hidden;
   position: absolute;
}
div.roomheader {
   font-weight: bold;
   font-size: 0.8em;
   top: 0px;
   text-align: center;
}
div.sessblock a {
   text-decoration: none;
   font-size: 0.7em;
   color: black;
}
{%for track in tracks%}
div.track{{track.id}} {
   background-color: {{track.color}};
}
{%endfor%}
</style>
{%endblock%}
{%block content%}
        <!-- Content
        ================================================== -->
        <section id="main" class="wrapper">
                <div class="container">

                        <!-- Call for Papers -->
                        <header class="major">
                                <span class="header"><img src="/ext/{{conference.urlname}}/shared/images/calendar.svg" alt="" /></span>
                                        <h2>Schedule - {{conference}}</h2>
                                </header>

                                <section class="section">
                                  <hr>
                                  <p>This schedule is also available for <a href="/m/{{conference.urlname}}/">mobile users</a>
                                     and is available in <a href="ical/">iCalendar</a> format.</p>
                                     <p>You can find the full conference information at the
                                        <a href="{{conference.confurl}}">conference website</a>.
                                        This schedule is subject to changes. This page will be updated when any
                                        changes occur.
                                     </p>
                                     <p>A list of the sessions can be found <a href="/events/sessions/{{conference.urlname}}/">here</a>.
                                     </p>
                                   </section>
                <!-- Secondary Header
                {%for day in days%}
                        <section class="section">
                          <hr>
                                            <h2>{{day.day|date:"l, F d"}}</h2>
                                            <div class="schedwrap" style="height: {{day.schedule_height}}px; width: {{day.schedule_width}}px;">
                                            {%for room in day.rooms%}
                                             <div class="sessblock roomheader" style="left: {{room.leftpos}}px; width: {{room.widthpos}}px; height: 100px;">
                                             {{room.name}}
                                             </div>
                                            {%endfor%}
                                            {%for session in day.sessions%}
                                             <div class="sessblock track{{session.track.id}}">-->
                                               <!--style="top: {{session.toppos}}px; left: {{session.leftpos}}px; width: {{session.widthpos}}px; height: {{session.heightpos}}px;-->
                                            <!--{%if session.id%}
                                              <a href="session/{{session.id}}-{{session.title|slugify}}/">{{session.timeslot}}<br/><b>{{session.title}}</b></a>
                                            {%else%}
                                              {{session.timeslot}} - <b>{{session.title}}</b>
                                            {%endif%}
                                              {%for speaker in session.speakers %}{%if forloop.first%}{%else%}, {%endif%}<i><a href="speaker/{{speaker.id}}-{{speaker.name|slugify}}/">{{speaker.name}}</a></i>{%endfor%}
                                             </div>
                                            {%endfor%}
                                            </div>
                                            <br>
                        </section>
                  {%endfor%}
                  -->
                  {%for day in days%}
                  <section class="section">
                    <div class="container">
                      <h2>{{day.day|date:"l, F d"}}</h2>
                      <div class="row">
                        <div class="4u 12u$(medium)">
                          <section class="box">
                            {%for room in day.rooms%}
                             <h4><div class="sessblock roomheader">
                             {{room.name}}
                           </div></h4>
                            {%endfor%}
                            <br>
                            {%for session in day.sessions%}
                             <div class="sessblock track{{session.track.id}}">
                               <!--style="top: {{session.toppos}}px; left: {{session.leftpos}}px; width: {{session.widthpos}}px; height: {{session.heightpos}}px;-->
                            {%if session.id%}
                              <a href="session/{{session.id}}-{{session.title|slugify}}/">{{session.timeslot}}<br/><b>{{session.title}}</b></a>
                            {%else%}
                              {{session.timeslot}} - <b>{{session.title}}</b>
                            {%endif%}
                              {%for speaker in session.speakers %}{%if forloop.first%}{%else%}, {%endif%}<i><a href="speaker/{{speaker.id}}-{{speaker.name|slugify}}/">{{speaker.name}}</a></i>{%endfor%}
                             </div>
                            {%endfor%}
                          </section>
                        </div>
                        <div class="4u 12u$(medium)">
                          <section class="box">
                            {%for room in day.rooms%}
                             <div class="sessblock roomheader" style="left: {{room.leftpos}}px; width: {{room.widthpos}}px; height: 100px;">
                             {{room.name}}
                             </div>
                            {%endfor%}
                            <br>
                            {%for session in day.sessions%}
                             <div class="sessblock track{{session.track.id}}">
                               <!--style="top: {{session.toppos}}px; left: {{session.leftpos}}px; width: {{session.widthpos}}px; height: {{session.heightpos}}px;-->
                            {%if session.id%}
                              <a href="session/{{session.id}}-{{session.title|slugify}}/">{{session.timeslot}}<br/><b>{{session.title}}</b></a>
                            {%else%}
                              {{session.timeslot}} - <b>{{session.title}}</b>
                            {%endif%}
                              {%for speaker in session.speakers %}{%if forloop.first%}{%else%}, {%endif%}<i><a href="speaker/{{speaker.id}}-{{speaker.name|slugify}}/">{{speaker.name}}</a></i>{%endfor%}
                             </div>
                            {%endfor%}
                          </section>
                        </div>
                        <div class="4u 12u$(medium)">
                          <section class="box">
                            {%for room in day.rooms%}
                             <div class="sessblock roomheader" style="left: {{room.leftpos}}px; width: {{room.widthpos}}px; height: 100px;">
                             {{room.name}}
                             </div>
                            {%endfor%}
                            <br>
                            {%for session in day.sessions%}
                             <div class="sessblock track{{session.track.id}}">
                               <!--style="top: {{session.toppos}}px; left: {{session.leftpos}}px; width: {{session.widthpos}}px; height: {{session.heightpos}}px;-->
                            {%if session.id%}
                              <a href="session/{{session.id}}-{{session.title|slugify}}/">{{session.timeslot}}<br/><b>{{session.title}}</b></a>
                            {%else%}
                              {{session.timeslot}} - <b>{{session.title}}</b>
                            {%endif%}
                              {%for speaker in session.speakers %}{%if forloop.first%}{%else%}, {%endif%}<i><a href="speaker/{{speaker.id}}-{{speaker.name|slugify}}/">{{speaker.name}}</a></i>{%endfor%}
                             </div>
                            {%endfor%}
                          </section>
                        </div>
                      </div>
                    </div>
                  </section>
                  {%endfor%}



                </div>

        </section>

{%endblock%}
