{%extends "base.html" %}
{%block title%}Conference Schedule - {{conference}}{%endblock%}
{%block extrahead%}
<style media="print">
#pgHeaderContainer, #pgSideWrap { display:none; }
div.schedwrap {
   font-size: 69%;
}
</style>
<style>
div.schedwrap {
   border: 1px solid black;
   position: relative;
}
div.sessblock {
   border: 1px solid gray;
   overflow:hidden;
   position: absolute;
}
div.roomheader {
   font-weight: bold;
   font-size: 1.2em;
   top: 0px;
   text-align: center;
}
div.sessblock a {
   text-decoration: none;
   color: black;
}
{%for track in tracks%}
div.track{{track.id}} {
   background-color: {{track.color}};
}
{%endfor%}
</style>
{%endblock%}
{%block content%}
<h1>Conference Schedule - {{conference}}</h1>
<p>
You can find the full conference information at the
<a href="{{conference.confurl}}">conference website</a>.
This schedule is subject to changes. This page will be updated when any
changes occur.
</p>

{%for day in days%}
<section class="section">
  <div class="container">
    <hr>
    <h2 style="text-align:center;">{{day.day|date:"l, F d"}}</h2>
    <div class="row">
          {%for room in day.rooms%}
      <div class="4u 12u$(medium)">
        <section class="box">
           <h4 style="text-align:center;"><div class="sessblock roomheader">
           {{room.name}}
         </div></h4>
         <hr>
          {%for session in day.sessions%}
          {%if session.leftpos == room.leftpos or session.widthpos == 1198 %}
          {%if session.id%}
           <div class="sessblock track{{session.track.id}}" style="height: 120px;"><p>
             <!--style="top: {{session.toppos}}px; left: {{session.leftpos}}px; width: {{session.widthpos}}px; height: {{session.heightpos}}px;-->
          {%else%}
           <div class="sessblock track{{session.track.id}}" style="height: 20px;"><p>
          {%endif%}
          {%if session.id%}
            <a href="session/{{session.id}}-{{session.title|slugify}}/">{{session.timeslot}}<br/><b>{{session.title}}</b><br/></a>
          {%else%}
            {{session.timeslot}} - <b>{{session.title}}</b>
          {%endif%}
            {%for speaker in session.speakers %}{%if forloop.first%}{%else%}, {%endif%}<i><a href="speaker/{{speaker.id}}-{{speaker.name|slugify}}/">{{speaker.name}}</a></i>{%endfor%}
          </p></div>
         <hr>
          {%endif%}
          {%endfor%}
        </section>
      </div>
          {%endfor%}
    </div>
  </div>
</section>
{%endfor%}

<p>This schedule is also available in <a href="ical/">iCalendar</a> format.</p>

{%endblock%}
