{%extends conftemplbase %}
{%load markup%}
{%block content%}
        <!-- Content
        ================================================== -->
        <section id="main" class="wrapper">
                <div class="container">

                        <!-- Call for Papers -->
                        <header class="major">
                                <span class="header"><img src="/ext/{{conference.urlname}}/shared/images/policy.svg" alt="" /></span>
                                <h2>{{speaker.name}}</h2><br>
                                </header>

                <!-- Secondary Header -->
                        <section class="section">
                          <hr>
                          <a href="../../">Back</a><br/>
                         {%if speaker.photofile %}
                         <img src="../../../../speaker/{{speaker.id}}/photo/" align="right" />
                         {%endif%}
                         {%if speaker.company%}<div>Company: {{speaker.company}}</div>{%endif%}
                         {%if speaker.twittername%}<div>Twitter: <a href="http://twitter.com/{{speaker.twittername}}">{{speaker.twittername}}</a></div>{%endif%}
                         <p>
                         {{speaker.abstract|markdown}}
                         </p>

                         <p><b>Sessions</b></p>
                         <ul>
                         {%for session in sessions%}
                          <li><a href="../../session/{{session.id}}-{{session.title|slugify}}/">{{session.title}}</a></li>
                         {%endfor%}
                         </ul>
                        </section>
                        <!-- Secondary Header -->
                </div>
        </section>
{%endblock%}
