{%extends "base2014.html" %}
{%block content%}
        <!-- Content
        ================================================== -->
        <main class="main-content">
                <div class="container">
                        
                        <!-- Who we are -->
                        <section class="section">
                                <div class="title-bordered">
                                        <h2>Who we are</h2>
                                </div>
                                
                                <p>PostgresOpen is a non–profit, community–run conference series in the United States focused on business users, database professionals and developers of PostgreSQL, the open source database.</p>

                                <p>We target entrepreneurs, technologists and decision–makers on the leading edge of data management, open source database innovation and disruption of the database industry. PostgresOpen promotes the business of PostgreSQL as well as its use and development.</p>

                        </section>
                        <!-- Who we are / End -->

                </div>
        </main>
        
        
        <!-- Content -->
        <div class="main-content alt-color">
                <div class="container">
                        <section class="section">
                                <div class="row">
                                        <div class="col-md-10 col-md-offset-1">
                                        <div class="widget widget__sidebar widget_categories">
                                                <div class="widget-title">
                                                        <h3>Suitable for Many Audiences</h3>
                                                </div>
                                                <p>Given this wide range of talks, the conference is suitable for many different audiences:</p>
                                                <ul>
                                                        <li>DBAs already using PostgreSQL, or considering doing so</li>
                                                        <li>Developers of any kind of application, from hobbyists to large web- and enterprise applications</li>
                                                        <li>Decision-makers interested in evaluating the world's most advanced open source database as an alternative to traditional proprietary products</li>
                                                        <li>PostgreSQL contributors - code, documentation, support - whatever you help with!</li>
                                                        <li>Open source enthusiasts in general!</li>
                                                </ul>
                                        </div>
                                        </div>
                                </div>
                        </section>
                </div>                  
        </div>                  

        <!-- Content -->
        <div class="main-content alt-color">
                <div class="container">
                        <section class="section">
                                <div class="row">
                                        <div class="col-md-10 col-md-offset-1">
                                        <div class="widget widget__sidebar widget_categories">
                                                <div class="widget-title">
                                                        <h3>Program Committee</h3>
                                                </div>
                                                <ul>
                                                        <li>Kris Pennella, Managing Partner, TableSpace.io</li>
                                                        <li>Gabrielle Roth, EnterpriseDB</li>
                                                        <li>Selena Deckelmann, PGDG Major Contributor</li>
                                                        <li>Cindy Wise, DB Developer, Enova Financial</li>
                                                        <li>Jonathan Katz, CTO VenueBook</li>
                                                        <li>Stephen Frost, Principal Database Engineer, Resonate, PGDG Major Contributor</li>
                                                </ul>
                                                <p>"PGDG" is the PostgreSQL Global Development Group</p>
                                        </div>
                                        </div>
                                </div>
                        </section>
                </div>                  
        </div>                  

        <!-- Content -->
        <div class="main-content alt-color">
                <div class="container">
                        <section class="section">
                                <div class="row">
                                        <div class="col-md-10 col-md-offset-1">
                                        <div class="widget widget__sidebar widget_categories">
                                                <div class="widget-title">
                                                        <h3>Conference Policies</h3>
                                                </div>
						<p>Please see our <a href="/2014/policies">policies</a> regarding our refund, speaker, and anti-harassment policies.</p>
                                        </div>
                                        </div>
                                </div>
                        </section>
                </div>                  
        </div>                  

        <!-- Content -->        
        <div class="main-content">
                <div class="container">
                        
                        <!-- Who we are -->
                        <section class="section">
                                        <ul class="testi-list">
                                                <li>
                                                        <div class="testi-body">
                                                                <blockquote class="noquotes">
                                                                        <p>The conference will run multiple parallel tracks, covering the different technical levels to make sure there is always something interesting for everybody. </p>
                                                                </blockquote>
                                                        </div>
                                                        <div class="testi-author">
                                                                <div class="testi-author-inner">
                                                                        <h1 class="textpress-big"><i class="fa fa-code" style="font-weight:bold;"></i></h1>
                                                                </div>
                                                        </div>
                                                </li>
                                                <li>
                                                        <div class="testi-body">
                                                                <blockquote class="noquotes">
                                                                        <p>Talks will be all be in English.</p>
                                                                </blockquote>
                                                        </div>
                                                        <div class="testi-author">
                                                                <div class="testi-author-inner">
                                                                        <h1 class="textpress-big"><i class="fa fa-quote-right" style="font-weight:bold;"></i></h1>
                                                                </div>
                                                        </div>
                                                </li>
                                                <li>
                                                        <div class="testi-body">
                                                                <blockquote class="noquotes">
                                                                        <p>After the conference, we will team up with companies around the US who offer PostgreSQL training, for a day of discounted PostgreSQL training sessions.</p>
                                                                </blockquote>
                                                        </div>
                                                        <div class="testi-author">
                                                                <div class="testi-author-inner">
                                                                        <h1 class="textpress-big"><i class="fa fa-group"></i></h1>
                                                                </div>
                                                        </div>
                                                </li>                                           
                                        </ul>
                        </section>
                </div>
        </div>

        <script>
                jQuery(document).ready(function() {
                        $("#topmenu").removeClass("active");
                        $("#topmenu2014about").addClass("active");
           });

        </script>

{%endblock%}
