{%extends "base2014.html" %}
{%block content%}
        <!-- Content
        ================================================== -->
        <main class="main-content">
                <div class="container">
                        
                        <!-- Become A Sponsor -->
                        <section class="section">
                                <div class="title-bordered">
                                        <h2>Become A Sponsor</h2>
                                </div>
                                
                                <p>PostgresOpen is a perfect opportunity for companies to reach
                                   out to users and developers of PostgreSQL, or to just "give back" to the
                                   community. Our sponsorship program covers a wide range of levels, from cheap
                                   to big scale. If you are interested in sponsoring the conference, please
                                   <a href="mailto:program2014@postgresopen.org">contact us!</a>
                                </p>

                        </section>
                        <!-- Become A Sponsor / End -->

                </div>
        </main>
        
        <script>
                jQuery(document).ready(function() {
                        $("#topmenu").removeClass("active");
           });

        </script>

{%endblock%}
