{%extends "base2014.html"%}
{%block content%}
        <!-- Content
        ================================================== -->
        <main class="main-content">
                <div class="container">

                        <!-- Call For Papers -->

                        <section class="section">
                                <div class="title-bordered">
                                        <h2>Call for Papers</h2>
                                </div>

                                <p>PostgresOpen 2014 will be held on September 17 - 19th in
                                   Chicago at the Hotel Chicago Downtown (formerly Hotel Sax). It will cover topics for PostgreSQL users,
                                   developers and contributors, as well as decision and policy makers. For
                                   more information about the conference, please see
                                   <a href="/2014/about">About</a>.

                                </p>
                                <p>Please note that PostgresOpen is open to all audiences and ages.  All talks
                                   are expected to be appropriate for a diverse group.  Please see our Conference
                                   <a href="/2014/policies">Policies</a> and feel free to contact the
                                   <a href="mailto:program2014@postgresopen.org">Committee</a> with any questions.
                                </p>

                                <p>The Call for Papers is closed.  See you in September!
                        </section>
                        <!-- Call For Papers / End -->
                </div>
        </main>

        <!-- Content -->
        <div class="main-content alt-color">
                <div class="container">
                        <section class="section">
                                <div class="row">
                                        <div class="col-md-10 col-md-offset-1">
                                        <div class="widget widget__sidebar widget_categories">
                                                <div class="widget-title">
                                                        <h3>Session Information</h3>
                                                </div>
                                                <p>Each session will last 45 minutes, and may be on any topic related to PostgreSQL. Suggested topic areas include:</p>
                                                <ul>
                                                        <li>Developing applications for PostgreSQL</li>
                                                        <li>Administering large scale PostgreSQL installations</li>
                                                        <li>Case studies and/or success stories of PostgreSQL deployments</li>
                                                        <li>PostgreSQL tools and utilities</li>
                                                        <li>PostgreSQL hacking</li>
                                                        <li>Community &amp; user groups</li>
                                                        <li>Tuning the server</li>
                                                        <li>Migrating from other systems</li>
                                                        <li>Scaling/replication</li>
                                                        <li>Benchmarking &amp; hardware</li>
                                                        <li>PostgreSQL related products</li>
                                                </ul>
                                                <p>Of course, we're happy to receive proposals for talks on other PostgreSQL-related topics as well.</p>
                                        </div>
                                        </div>
                                </div>
                        </section>
                </div>
        </div>

        <!-- Content -->

        <div class="main-content">
                <div class="container">

                        <!-- CFP -->
                        <section class="section">
                        </section>
                </div>
        </div>

        <script>
                jQuery(document).ready(function() {
                        $("#topmenu").removeClass("active");
                        $("#topmenucfp").addClass("active");
           });

        </script>

{%endblock%}
