{%extends "base2014.html" %}
{%block content%}
        <!-- Content
        ================================================== -->
        <main class="main-content">
                <div class="container">
                        
                        <!-- Schedule -->
                        <section class="section">
                                <div class="title-bordered">
                                        <h2>Schedule</h2>
                                </div>
                                
                                <p>The schedule is not yet available as we are currently accepting papers.</p>
                                <p>If you are interested in submitting a talk, please see the <a href="/2014/callforpapers">Call For Papers</a></p>
                                <p>The schedule will be posted in July.</p>

                        </section>
                        <!-- Schedule / End -->

                </div>
        </main>
        
        <script>
                jQuery(document).ready(function() {
                        $("#topmenu").removeClass("active");
                        $("#topmenuschedule").addClass("active");
           });

        </script>

{%endblock%}
