{%extends "base2014.html" %}
{%block content%}
        <!-- Content
        ================================================== -->
        <main class="main-content">
                <div class="container">

                        <!-- Sponsors -->
                        <section class="section">
                                <div class="title-bordered">
                                        <h2>Sponsors</h2>
                                </div>

                                <p>PostgresOpen wouldn't be possible without the support of our wonderful
                                   sponsors!  If you are interested in sponsoring the conference, please
                                   see our <a href="/2014/becomesponsor/">sponsoring campaign</a> and let us know!
                                </p>

                        </section>
                        <section class="section">
                                <div class="title-bordered">
                                        <h2>Partner</h2>
                                        <img src="/media/img/sponsors/EDB-logo-4c.png" style="margin: 0 auto;padding-bottom:25px;" /><BR>
                                        <img src="/media/img/sponsors/2ndq_transparent.png" style="margin: 0 auto;padding-bottom:25px;" /><BR>
                                        <img src="/media/img/sponsors/enova_color_no_bkgrnd_blue_letters.png" style="margin: 0 auto; padding-right:40px;" /><BR>
                                        <img src="/media/img/sponsors/heroku-logo-transbg-300x100.png" style="margin: 0 auto;padding-bottom:25px;" /><BR>
                                </div>
                        </section>
                        <section class="section">
                                <div class="title-bordered">
                                        <h2>Patron</h2>
                                </div>
                        </section>
                        <section class="section">
                                <div class="title-bordered">
                                        <h2>Supporter</h2>
                                        <img src="/media/img/sponsors/jmg-logo-transbg-hires.png" style="margin: 0 auto;padding-bottom:25px;" /><BR>
                                </div>
                        </section>
                        <section class="section">
                                <div class="title-bordered">
                                        <h2>Friend</h2>
                                        <img src="/media/img/sponsors/jackdb-logo.png" style="margin: 0 auto;padding-bottom:25px;" /><BR>
                                        <img src="/media/img/sponsors/credativ_logo.png" style="margin: 0 auto;padding-bottom:25px;" /><BR>
                                </div>
                        </section>
                        <section class="section">
                                <div class="title-bordered">
                                        <h2>T-shirt Sponsor</h2>
                                        <img src="/media/img/sponsors/OmniTI-logoTM.png" style="margin: 0 auto;padding-bottom:25px;" /><BR>
                                </div>
                        </section>

                        <!-- Sponsors / End -->

                </div>
        </main>

        <script>
                jQuery(document).ready(function() {
                        $("#topmenu").removeClass("active");
                        $("#topmenu2014sponsors").addClass("active");
           });

        </script>

{%endblock%}
