{%extends "base2014.html" %}
{%block content%}
        <!-- Content
        ================================================== -->
        <main class="main-content">
                <div class="container">
                        
                        <!-- Who we are -->
                        <section class="section">
                                <div class="title-bordered">
                                        <h2>Tickets for Postgres Open 2014/h2>
                                </div>
                                
                                <p>Welcome to the Postgres Open 2014 Ticket and Speaker Registration section!</p>
                                <p>Our newly updated ticketing and registration interface works in tandem with your postgresql.org community credentials. If you do not have a login you will be asked to create one.</p>
                                <p><i>(Please note, your community account will not be shared or spammed in accordance with <a href="http://postgresopen.org/2014/policies/">our policies</a>).</i></p>
                       		<p>If you’re ready to acquire tickets - <a href="http://postgresopen.org/2014/events/register/pgopen2014"><b> click here!</b></a> </p>
                        </section>
                        <!-- Who we are / End -->

                </div>
        </main>
        
        
        <!-- Content -->
        <div class="main-content alt-color">
                <div class="container">
                        <section class="section">
                                <div class="row">
                                        <div class="col-md-10 col-md-offset-1">
                                        <div class="widget widget__sidebar widget_categories">
                                                <div class="widget-title">
                                                        <h3>A quick overview of how the ticketing process works:</h3>
                                                </div>
                                                <ul>
                                                        <li>Log in or create an account with postgresql.org</li>
                                                        <li>You will be redirected to the Postgres Open registration form page </li>
                                                        <li>Once you have submitted your information for registration and ticketing, you will see an invoicing page for payment <br><b></b> Please continue through the process and pay the invoice immediately or your registration and ticket will not be confirmed.</b></li>
                                                        <li>Payment for conference tickets is hosted via our partner Adyen's web interface</li>
                                                        <li>Once your payment has been authorized, you will be redirected back to our Postgres Open site and a copy of the transaction receipt will be emailed to you as a pdf</li>
                                                </ul>
                                                <p><a href="http://postgresopen.org/2014/events/register/pgopen2014"><b>Purchase tickets!</b></a></p>
                                                 <p>Please let us know if you have any questions or issues with the registration system: program2014@postgresopen.org</p>
                                        	<p>Don’t forget to book your room at the <a href="http://postgresopen.org/2014/venueandhotel/">Hotel Chicago!</a> </p>
                                        	</div>
                                        </div>
                                </div>
                        </section>
                </div>                  
        </div>                  

               


 
        <script>
                jQuery(document).ready(function() {
                        $("#topmenu").removeClass("active");
                        $("#topmenu2014about").addClass("active");
           });

        </script>

{%endblock%}
